[credential]
	helper = /mnt/c/Program\\ Files/Git/mingw64/libexec/git-core/git-credential-manager.exe
[user]
	name = ashrithr
	email = ashrith@me.com
[core]
	editor = vim
[core]
    pager = delta --theme='Monokai Extended'
[interactive]
    diffFilter = delta --color-only
